HelloWorldScene.*
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.sdf
*.opensdf
[Cc]ocos2d/
*.sln
*.vcxproj
*.filters
/proj.android
/proj.ios_mac
/proj.linux
/proj.win32
/proj.wp8-xaml
